<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--     先不折腾le -->

    <bean id="goodsDao" class="com.canteen.dao.GoodsDaoImpl">
        <property name="baseDao" ref="baseDao" />
    </bean>

    <bean id="goodsService" class="com.canteen.service.Impl.GoodsServiceImpl">
        <property name="goodsDao" ref="goodsDao"></property>
    </bean>

</beans>