<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- goods Manager -->
    <bean id="goodsService" class="com.canteen.service.GoodsServiceImpl">
        <property name="baseDao" ref="baseDao" />
    </bean>

    <!-- user Manager -->
    <bean id="userService" class="com.canteen.service.UserServiceImpl">
        <property name="baseDao" ref="baseDao" />
    </bean>

    <!-- purchase Manager -->
    <bean id="purchaseService" class="com.canteen.service.PurchaseServiceImpl">
        <property name="baseDao" ref="baseDao" />
        <property name="goodsService" ref="goodsService" />
    </bean>

</beans>